<div class="admin table view">
<h1><%= t('.manage_exams') %></h1>
<%= link_to t(".New_exam"), new_admin_exam_path, :class => "new strong button" %>
<hr />

<table class="data exams">
  <thead>
    <tr>
      <th><%= t(".Title") %></th>
      <th><%= t(".Description") %></th>
      <th><%= t(".Questions") %></th>
      <th><%= t(".Courses") %></th>
      <th width="15%"><%= t("Actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr id='exam_<%= exam.id%>'>
        <td><%= link_to exam.title, exam %></td>
        <td><%= exam.description %></td>
        <td><%= exam.questions.count %></td>
        <td><%= exam.courses.map(&:title).join ", " %></td>
        <td class="alt_position">
          <ul class="list of dropdown links">
            <li class="toggle"><a class="new weak actions button" href="#">Actions</a>
            <ul class="dropdown">
              <li><%= link_to t('.add_to_course'), admin_assign_to_path(:exam, exam.id, :course),
                data: {"fancybox-type" => "iframe"}, :class => "fancybox iframe add button" %>

              <li class="divider"></li>
              <li><%= link_to t("show"), [:admin, exam], :class => "show button" %></li>
              <% unless exam.finalized? %>
                <li><%= link_to t("edit"), edit_admin_exam_path(exam), :class => "edit button" %></li>
              <% end %>
              <li><%= link_to t("delete"), [:admin, exam], method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete button" %></li>
            </ul>
            </li>
          </ul>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
