<%= link_to 'Edit', edit_admin_exam_path(@exam.id) %> |
<%= link_to 'Back', admin_exams_path %>

<div class="two_column grid">
  <div class="main content">
    <h2 class='title'><%= exam.title %></h2>
    <div class='clippable description'>
      <%= exam.description %>
    </div>

    <%= render partial: "/tags/tags", locals: {tags: exam.tags} %>

 
  </div>

  <div class="second content">
    <%= render partial: "/admin/questions/questions_list" %>
  </div>
</div>
