<h2>Post a comment</h2>

<%= form_for comment do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "problem") %> <%= t("stopped_this_being_saved") %></h2>

      <ul>
        <% course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section">
    <%= image_tag current_user.avatar_image_url(:web, :thumb)  %>
    <%= current_user.name || current_user.email %>

    <%= f.hidden_field :commentable_type %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :role, {value: "public"} %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :comment %>
    <%= f.text_area :comment %>

    <div class="actions">
      <%= f.button "Post comment", :class => "save" %>
    </div>
  </div>
<% end %>


