<h1>Edit Lesson</h1>

<%= render 'errors' %>

<div class="fake_ordered_list_holder">
  <%= form_for [:admin, @lesson] do |f| %>
    <%= f.hidden_field :token %>

    <div class="ordered_list_item">
      <% if @lesson.external_resource_url.present? %>
        <%= render partial: 'external_resource_field', locals: {f: f} %>
      <% else %>
        <%= link_to "Edit Uploaded File", edit_admin_resource_file_path(@lesson.resource_file), class: "edit button" %>
        <%= image_tag @lesson.thumbnail %>
        <%= @lesson.filename_without_path %>
      <% end %>
    </div>

    <div class="ordered_list_item">
      <%= render partial: 'title_and_description_fields', locals: {f: f} %>
    </div>

    <div class="ordered_list_item">
      <%= render partial: 'tag_fields', locals: {f: f} %>
    </div>

    <%= f.button(t("save_lesson"), {class: "add"}) %>
  <% end %>

</div>
