<h1>Adding a new lesson is easy&hellip;</h1>

<%= render 'errors' %>

<div class="fake_ordered_list_holder">
  <%= render 'resource_form' %>

  <%= render 'lesson_form' %>

  <%= render :partial => "template_upload" %>
  <%= render :partial => "template_download" %>
</div>
