<div class="group">
  <h1> <%= group.name %></h1>
  <%= group.description %>
</div>

<div >
  <h3> Users</h3>
  <ul class="list of links for users in a group">
    <%= render partial: "users/user_preview", collection: group.users %>
  </ul>
</div>

<div class="list of courses in a group">
  <h3><%=t("List_courses") %></h3>
  <ul>
    <%= render partial: "courses/preview", collection: group.courses %>
  </ul>
</div>

<div class="list of lessons in a group">
  <h3><%=t("List_lessons") %></h3>
  <ul>
    <%= render partial: "lessons/lesson", collection: group.pseudo_lessons %>
  </ul>
</div>
