<div class='hero for group'>
  <img class='image for group' src='http://lorempixel.com/300/200/business'/>
  <div class="inner">
    <%- if enroled?(@group) %>
      <a class="button strong">Enrolled</a>
    <%- else %>
      <%= button_to "/sign_me_up_for/group/#{@group.id}", class: "strong button" do %>
        Enrol
      <%- end %>
    <%- end %>

    <h1><%= @group.name %></h1>
    <div class="description"><%= @group.description %></div>

  </div>
</div>

<div class="panel heading">
  <%= t("Users") %>
</div>

<div class="accordion of summaries for users">
  <%= render partial: 'users/user_preview', collection: @group.users %>
</div>


