<li>
  <div class="avatar column">
    <%- placeholder = asset_url("_framework/chassis/placeholders/head.png") %>
    <%= link_to(image_tag(user.avatar_image.url(:web, :thumb) || placeholder), user) %>
  </div>
  <div class="info column">
    <%= link_to user do %>
      <div><%= user.name %></div>
      <div class="text weak"><%= user.job_title %></div>
    <% end %>
    <%= render partial: 'followings/follow', locals: {user: user} %>
  </div>
</li>
