<div class='section'>
  <ul class="form for list of roles">
    <%= f.fields_for :user_roles, wrapper: false do |r| %>
      <li class="fields">
        <%= r.label :role_id, t('.role') %>
        <%= r.select :role_id, Role.for_select,
          { include_blank: true }
        %>
        <%= r.link_to_remove "Remove" %>
      </li>
    <% end %>

    <%= f.link_to_add "Add a role", :user_roles %>
  </ul>
</div>
