<div id="<%= dom_id(@user) %>" data-object="user" data-url="/users/<%= @user.id %>" class="alternative layout three_column grid user profile ">

  <div class="first column">
    <div class="inner">
      <h1>Profile</h1>
      <div class="content container">
        <div class="profile photo"><%= image_tag @user.profile_image_url(:full) %></div>
        <%= editable_item :h3, @user, :name %>
        <div><%= editable_item :span, @user, :job_title %></div>
        <%= render partial: 'followings/follow', locals: {user: @user} %>
        <div class="edit link"><%= link_to t("edit"), edit_admin_user_path(@user) if admin? %></div>
      </div>

      <h1>Contact</h1>
      <div class="content container">

        <h3>Email</h3>
        <ul class="list of links">
          <li><%= editable_item :div, @user, :email %></li>
        </ul>

        <ul class="list of links">
        <%- @user.user_phone_numbers.each do |p| %>
          <%- if p.number.present? %>
            <li>
              <h3><%= p.phone_number_type.to_s.humanize %></h3>
              <%= p.number %>
            </li>
          <%- end %>
        <%- end %>
        </ul>

        <h3>Social</h3>
        <ul class="list of links">
          <%- @user.user_links.each do |l| %>
            <%- if l.url.length > 0 %>
              <li class="<%= l.link_type.to_s.humanize.downcase %>"><%= link_to l.link_type.to_s.humanize, l.url %></li>
            <%- end %>
          <%- end %>
        </ul>

      </div>

      <h1><%= t('About_me') %></h1>
      <div class="content container">
        <%= editable_item :span, @user, :bio, :textarea %>
        <hr />

        <div class="edit link">
          <%= link_to "Edit", edit_user_path(@user), class: "muted inline link" if editable?(@user) %>
        </div>
        <h3><%=t(".skills")%></h3>
        <div data-tag-type="skills">
          <%=render partial: "/tags/tags", locals: {tags: @user.skills}%>
        </div>

        <br />

        <div class="edit link">
            <%= link_to "Edit", edit_user_path(@user), class: "muted inline link" if editable?(@user) %>
        </div>
        <h3><%=t(".interests")%></h3>
        <div data-tag-type="interests">
          <%=render partial: "/tags/tags", locals: {tags: @user.interests}%>
        </div>
      </div>


    </div>
  </div>

  <div class="second column">
    <div class="inner">

      <h1>Timeline</h1>
      <div class="content container">
        <div class='timeline of lesson_completions'>
          <ul class="list of links of lesson_completions">
            <%= render partial: "time_lines/lesson", collection: @completed_lessons, as: :lesson %>
          </ul>
        </div>

        <div class='timeline of followers'>
          <ul class="list of links of followers">
            <%= render partial: "time_lines/following", collection: @follower_followings %>
          </ul>
        </div>

        <div class='timeline of followers'>
          <ul class="list of links of pursueds">
            <%= render partial: "time_lines/following", collection: @pursued_followings %>
          </ul>
        </div>
        <center><button type="submit">Load more..</button></center>
      </div>

    </div>
  </div>

  <div class="third column">
    <div class="inner">

      <h1>Followers/Following</h1>
      <div class="content container">
        <%= render 'followings/followings_summary' %>
      </div>

      <h1><%= t('.current_courses') %></h1>
      <div class="content container">
        <ul class="separated list of links for current courses with border bottom">
          <% @user.courses.each do |c| %>
            <li>
              <%= link_to c.title, c %>
              <%= link_to "✘", "/admin/unassign/user/#{@user.id}/from/course/#{c.id}",
               method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" if admin?
            %>
            </li>
          <% end %>
        </ul>
      </div>

      <h1><%= t('.current_groups') %></h1>
      <div class="content container">
        <ul class="separated list of links for current groups with border bottom">
          <% @user.groups.each do |g| %>
            <li>
              <%= link_to g.name, g %>
              <%= link_to "✘", "/admin/unassign/user/#{@user.id}/from/group/#{g.id}",
             method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" if admin?
            %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>
