<h1>Listing guesses</h1>

<table>
  <thead>
    <tr>
      <th>Question response</th>
      <th>Answer</th>
      <th>Correct</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guesses.each do |guess| %>
      <tr>
        <td><%= guess.question_response_id %></td>
        <td><%= guess.answer_id %></td>
        <td><%= guess.correct %></td>
        <td><%= link_to 'Show', guess %></td>
        <td><%= link_to 'Edit', edit_guess_path(guess) %></td>
        <td><%= link_to 'Destroy', guess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guess', new_guess_path %>
