<p id="notice"><%= notice %></p>

<p>
  <strong>Question response:</strong>
  <%= @guess.question_response_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @guess.answer_id %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @guess.correct %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
