<% tag_type = format_taggable_type(taggable_type ||= "") %>
<% formatted_tags = format_tag_list(tags) %>

<%= form_for(taggable, {remote: true, url: url, html: {"data-tag-type"=>taggable_type}}) do |f| %>
  <div class="actions">
    <%= f.label :name, tag_type %>
    <%= f.hidden_field :taggable_type, value: taggable_type if taggable_type.present? %>
    <%= f.text_field :tag_list, value: formatted_tags, class: "taggable with ajax" %>


    <%= f.button "Save #{taggable_type}", :class => "tags" %>
  </div>
<% end %>
