<div class="main content">
  <%- unless current_action == "new" %>
    <%= link_to t(".new_question"), new_admin_exam_question_path(@exam), class: "strong add button" %>
  <%- end %>

  <ol class="ordered list of questions">
    <%- @exam.questions.each do |q| %>
      <% unless q.new_record? %>
        <li>
          <%= q.question_text %>
          <ol type='a' class="ordered list of answers">
            <% q.answers.each do |a| %>
              <li class='<%= AnswerPresenter.new(a).css_class %>'>
                <%= a.text %>
              </li>
            <% end %>
          </ol>

          <%= link_to t("edit"), edit_admin_exam_question_path(@exam, q), class: "edit button" %>
          <%= link_to t("delete"), admin_exam_question_path(@exam, q), method: :delete, class: "delete button", data: {confirm: "Are you sure?"} %>
        </li>
      <% end %>
    <% end %>
  </ol>

</div>
