<div data-url="<%= admin_lesson_path @lesson %>" class='hero for <%=@lesson.media_type %> <%=@lesson.file_extension %> lesson' id="lesson_<%=@lesson.id %>">
  <div class="inner">
    <div class="media_object">
      <%= render partial: "lessons/media_type_#{@lesson.media_type}", locals: {lesson: @lesson} %>
    </div>

    <div class="lesson completion status">
      <%= render partial: 'lessons/complete_lesson', locals: {lesson: @lesson} unless @lesson_service.completed? %>
    </div>
    <h1 class='title resource <%= @lesson.media_type %> <%= @lesson.file_extension %>'>
      <%= editable_item :span, @lesson, :title %>
    </h1>
    <div class='description'>
      <%= editable_item :span, @lesson, :description, :textarea %>
    </div>
    <div class="meta">
      <% if @lesson_service.completed? %>
        <div class="completed">
          <%= t(".completed") %>
          <%= format_time @lesson_service.completed_at %>
        </div>

        <%= render partial: '/ratings/rateable', locals: {rating_types: [:difficulty, :enjoyment], rateable: @lesson.lesson, rateable_type: :difficulty} %>
      <%- else %>
        <%= render partial: 'shared/complete_by', locals: {to_complete: @lesson}  %>
      <%- end %>
      <%= render partial: "/tags/tags", locals: {tags: @lesson.tags} %>
    </div>
  </div>
</div>

<div class="panel heading">This lesson is part of the following courses</div>

<div class='accordion list of summaries of courses'>
  <%= render partial: "courses/summary", collection: @lesson_service.model.courses %>
</div>

<div class="panel heading">Comments</div>
<%= render partial: 'comments/comments', locals: {commentable: @lesson_service.model}  %>
