<%- follower = following.follower %>
<%- pursued = following.pursued %>
<li>
  <%= link_to follower do %>
    <div class="follower avatar column">
      <%= image_tag follower.avatar_image.url(:web, :thumb) || '/assets/_framework/chassis/placeholders/head.png' %>
    </div>
    <div class="timeline info wrap">
      <div class="timeline info title">
        <%= follower.name %> Followed:
      </div>
    </div>
  <% end %>

  <%= link_to pursued do %>
    <div class="follower avatar column">
      <%= image_tag pursued.avatar_image.url(:web, :thumb) || '/assets/_framework/chassis/placeholders/head.png'  %>
    </div>
    <div class="timeline info wrap">
      <div class="timeline info text">
        <%= pursued.name %>
      </div>
    </div>
  <% end %>

  <div class="timeline time ago"><%= time_ago_in_words following.created_at %> ago</div>
</li>
