<span class="system_check"><%= t(".welcome") %></span>

<div class="user dashboard">
  <%= render partial: 'upcoming_courses' %>
  <%= render partial: "lesson_list" %>
  <%= render partial: "time_line" %>
  <%= render partial: "sidebar" %>
</div>


