<li class='jigsaw_item' id="course_<%=course.id %>">
  <%= link_to course do %>
    <div class="image wrap"><%= image_tag course.thumbnail %></div>
  <% end %>
  <div class="inner">
    <%= link_to course do %><h2 class='title'><%= course.title %></h2><% end %>
    <div class='clippable description'>
      <%= course.description %>
    </div>

    <%= render partial: "/tags/tags", locals: {tags: course.tags} %>

    <div class="complete_by">
      <%= 
        #TECHDEBT
        complete_by_date rescue "19th January 2013" 
       %>
    </div>

    <div class='counts'>
      <%= render partial: 'lessons/lesson_counts', locals: {course: course} %>
    </div>
  </div>
</li>

