<%- course = preview %>
<div id="course_<%=course.id %>">
  <div class="layout two_column grid">
    <div class="main content with distinct_section">

      <h4>
        <%- path =  admin? ? admin_course_path(course.id) : course %>

        <%= link_to course.title, path %>

      </h4>
      <%= course.description %>
    </div>
    <div class="second content with distinct_section">

      <%= render partial: "/tags/tags", locals: {tags: course.tags} %>
      <div>
        <%= render partial: '/ratings/rateable', locals: {rating_types: [:difficulty, :enjoyment], rateable: course, rateable_type: :difficulty} %>
      </div>
    </div>
  </div>

</div>

