<%= form_for([question_response.exam_sitting, question_response.question, question_response]) do |f| %>

  <% if @question_response.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @question_response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ol>
    <%- question_response.question.answers.each do |a| %>
      <% question_response.guesses.build answer: a %>
    <% end %>
    <%= f.fields_for :guesses do |g| %>
      <% answer = g.object.answer %>
      <li>
        <%= check_box_tag :"answer_ids[]", answer.id %>
        <%= g.label :answer_id, answer.text %>
      </li>
    <% end %>
  </ol>
  <div class="actions">
    <%= f.button t(".next_question"), :class => "strong" %>
  </div>
<% end %>
