

<div class='hero for question response'>
  <div class="inner">
    <h2>
      <%= question_response.question.question_text %>
    </h2>

    <p>
      <%= question_response.question.tag_line %>
    </p>

    <div>
      <strong><%= question_response.correct_answers %> correct answers</strong>
    </div>
    <%= render 'form' %>
  </div>

</div>
<%= render 'past_answers' %>


