<h1>Listing exam_sittings</h1>

<table>
  <thead>
    <tr>
      <th>Exam</th>
      <th>User</th>
      <th>Score</th>
      <th>Max score</th>
      <th>Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_sittings.each do |exam_sitting| %>
      <tr>
        <td><%= exam_sitting.exam_id %></td>
        <td><%= exam_sitting.user_id %></td>
        <td><%= exam_sitting.score %></td>
        <td><%= exam_sitting.max_score %></td>
        <td><%= exam_sitting.completed %></td>
        <td><%= link_to 'Show', exam_sitting %></td>
        <td><%= link_to 'Edit', edit_exam_sitting_path(exam_sitting) %></td>
        <td><%= link_to 'Destroy', exam_sitting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam sitting', new_exam_sitting_path %>
