<% if sitting = exam.unfinished_exam_sittings.first %>
  <%= link_to "Continue exam", exam_sitting_path(sitting), :class => "button strong" %>
  <div class="exam questions count">
    You've answered 
    <%= sitting.answered_questions.count %>
    out of 
    <%= sitting.questions.count %> 
    questions
  </div>

<% else %>
  <%= button_to exam_exam_sittings_path(exam), method: :post, :class => "accordian_link" do %>
    <% key = exam.no_attempts? ? ".start_exam" : ".retake_exam" %>
    <% t(key, title: "") %>
  <% end %>

  <div class="exam questions count"><%= "#{exam.questions.count} question".pluralize exam.questions.count %></div>
<% end %>
