<div class="second group">
  <ul class="alternative position accordian">
    <li>
      <a href="#" class="settings link"><%= t("Settings") %></a>
        <ul>
          <li><%= link_to t("View_profile"), "/me" %></li>
          <li><%= link_to t("Edit_profile"), "/me/edit" %></li>
          <% if admin? %>
            <li>
              <%= button_to "/admin/role_usages", method: :post, :class => "accordian_link" do %>
                <% t(".view_as_user") %>
              <% end %>
            </li>
          <% elsif normally_admin? %>
            <li>
              <%= button_to "/admin/role_usages/user", method: :delete, :class => "accordian_link" do %>
                <% t(".view_as_admin") %>
              <% end %>
            </li>
          <% end %>
        </ul>
    </li>
  </ul>
  <%= link_to t("Sign_out"), destroy_user_session_path, :method => :delete, :class => "sign_out link" %>
</div>
