<%= form_for([:admin, @course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "problem") %> <%= t("stopped_this_being_saved") %></h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section">
    <%= f.label :image, "Course image" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

 

  <div class="actions">
    <%= f.button t("save_course") , :class => "add" %>
  </div>
<% end %>

<div class="third content">
  <div class="section">
    <%= render partial: 'tags/form', locals: {
      taggable: @course,
      url: [:admin, @course],
      resource_type: "course", tags: @course.tags} %>
  </div>
</div>
